
*{
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

.R-Options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 900px;
}
.menu-items P{
    text-align: center;
    width: 70px;
    font-size: 12px;
}
.menu-items img{
    width: 70px;
    height: 70px;
    border: 0.5px solid rgba(0, 0, 0, 0.104);
    border-radius: 15px;
}